@media (min-width: 991.98px) {
    .mainprofilepage {
      padding-left: 240px;
    }
  }

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
.hidden-arrow::after {
    border-color: #FFDD00;
  }


  .profile-container {
    display: flex;
    align-items: center;
  }
  
  .profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .profile-info {
    margin-left: 20px;
  }
  
  .profile-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: white
  }
  
  .profile-info p {
    font-size: 16px;
    margin-bottom: 20px;
    color: white
  }
  
  .edit-profile-button {
    display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #FFDD00;
  color: #000000;
  border: none;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  }
  .edit-profile-button span {
    margin-left: 5px; 
  }
  .edit-icon {
    margin-right: 5px;
    margin-bottom: 2px;
    font-size: 20px; /* Increase the font size of the icon */
  }

