* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;  
  }
  body{
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    
  }
  
                     /* .....responsive ... */
    

                     /* .....responsive ... */
  
                     /* header start  */
                     .headermainpage .header .container .navbar{
    
  
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.1rem;
  
   padding: 20px 0px;
   background: rgba(0, 0, 0, 0)!important;
  
  }
  .headermainpage .navbar-dark  .navbar-nav .nav-link 
  {
    color:white;
   padding-left: 20px;
  
  }
  .headermainpage .navbar-dark .navbar-nav .nav-link .active,
  .headermainpage .navbar-dark .navbar-nav .nav-link:hover
  {
  color:#FFDD00;
  
  }
  .headermainpage  #header-links li a
  {
    padding: 10px 39px;
  }
  .headermainpage .header-logo .search{
    padding-left: 100px;
    
  }
  .headermainpage  .header-logo
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .headermainpage  .button button {
  
   margin-left: 24px;
  
  }
  
  .headermainpage  .button-5 {
    align-items: center;
    background-clip: padding-box;
    background-color: #FFDD00;
    font-weight:bold;
    border: 1px solid transparent;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
    height:50px ;
  }
  
  .headermainpage .button-5:hover,
  .headermainpage .button-5:focus {
    background-color: #fffb00;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .headermainpage .button-5:hover {
    transform: translateY(-1px);
  }
  
  .headermainpage .button-5:active {
    background-color: #222222;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }
  .filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Add gap between filter items */
  }
  

  .badge {
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 50%;
  }
  
  .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605;
  }
  #lblCartCount {
      font-size: 12px;
      background: #ff0000;
      color: #000000;
      padding: 0 5px;
      vertical-align: top;
      
      margin-left: -10px; 
  }